

/* shop product2 */

.shop-products .shop-addon .shop-product2 {
    background-color: #0d1e28;
    border-radius: 5px;
    box-shadow: #0005 3px 3px 9px;
    font-size: 0;
    width: 25%;
    display: inline-block;
    vertical-align: top;
    user-select: none;
    position: relative;
    margin: 15px 5%;
    text-align: center;
    box-sizing: border-box;
    overflow: hidden;
}

.shop-products .shop-addon .shop-product2:nth-child(3n - 1) {
    margin: 15px 2.5%;
}

.shop-products .shop-addon .shop-product2 {
    /* border-radius: 0 0 15px 15px; */
}

.shop-products .shop-addon .shop-product2 .pack-details {
    position: absolute;
    width: fit-content;
    padding: 5px;
    background: var(--electric-blue, #59b7b3);
    color: var(--text-white, #f2f2f2);
    font-size: 15px;
}

.shop-products .shop-addon .shop-product2 .product-icon {
    position: relative;
    width: 90%;
    margin: 0 auto;
}

.shop-products .shop-addon .shop-product2 .product-icon .slides-icons {
    outline: transparent;
    overflow: hidden;
    /* max-width: 100%; */
    margin: 0 auto;
}

.shop-products .shop-addon .shop-product2 .product-icon .slides-icons .flickity-viewport .flickity-slider {
    width: 100%;
}

.shop-products .shop-addon .shop-product2 .product-icon .slides-icons .flickity-slider {
    width: 100%;
}

.shop-products .shop-addon .shop-product2 .product-icon .slides-icons .flickity-slider .ba-slide {
    text-align: center;
    width: calc(100% / 3);
    outline: none;
}

.shop-products .shop-addon .shop-product2 .product-icon .flickity-button {
    display: none;
}

.shop-products .shop-addon .shop-product2 .product-icon .product-icon-img {
    width: 100%;
    position: relative;
    z-index: 1;
}

/* .product-icon .back-product-icon {
    position: absolute;
    width: 70%;
    height: 70%;
    top: 15%;
    left: 15%;
    background-color: var(--electric-blue, #59b7b3);
    opacity: 0.2;
    z-index: 0;
} */

.shop-products .shop-addon .shop-product2 .production-name,
.shop-products .shop-addon .shop-product2 .product-description,
.shop-products .shop-addon .shop-product2 .product-total {
    padding-left: 15px;
    padding-right: 15px;
}

.shop-products .shop-addon .shop-product2 .production-name {
    margin-top: -15px;
    font-size: 20px;
    font-weight: bold;
}

.shop-products .shop-addon .shop-product2 .product-description {
    margin-top: 10px;
    font-size: 13px;
    color: #aeaeae;
}

.shop-products .shop-addon .shop-product2 .product-total {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    color: var(--electric-blue, #59b7b3);
    font-family: Roboto;
}

.shop-products .shop-addon .shop-product2 .product-reference {
    margin-top: 5px;
    font-size: 11px;
    font-family: Roboto;
}

.shop-products .shop-addon .shop-product2 .product-total::before {
    content: "£"
}

.shop-products .shop-addon .shop-product2 .product-total::after {
    /* content: " (OOT)"; */
}

.shop-products .shop-addon .shop-product2 .product-cart-manage {
    width: 100%;
    background-color: var(--electric-blue, #59b7b3);
    margin-top: 12px;
    box-sizing: border-box;
    border-radius: 0;
}

.shop-products .shop-addon .shop-product2 .product-cart-manage .purchase,
.shop-products .shop-addon .shop-product2 .product-cart-manage .manage {
    padding: 7px;
    box-sizing: border-box;
}

.shop-products .shop-addon .shop-product2 .product-cart-manage .purchase,
.shop-products .shop-addon .shop-product2 .product-cart-manage .manage,
.shop-products .shop-addon .shop-product2 .product-cart-manage .manage .minus,
.shop-products .shop-addon .shop-product2 .product-cart-manage .manage .quantity,
.shop-products .shop-addon .shop-product2 .product-cart-manage .manage .add {
    display: inline-block;
    vertical-align: middle;
}

.shop-products .shop-addon .shop-product2 .product-cart-manage .purchase {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.shop-products .shop-addon .shop-product2 .product-cart-manage .manage {

}

.shop-products .shop-addon .shop-product2 .product-cart-manage .purchase,
.shop-products .shop-addon .shop-product2 .product-cart-manage .manage .minus,
.shop-products .shop-addon .shop-product2 .product-cart-manage .manage .quantity,
.shop-products .shop-addon .shop-product2 .product-cart-manage .manage .add {
    font-size: 20px;
}

.shop-products .shop-addon .shop-product2 .product-cart-manage .manage .minus {
    cursor: pointer;
}

.shop-products .shop-addon .shop-product2 .product-cart-manage .manage .quantity {

}

.shop-products .shop-addon .shop-product2 .product-cart-manage .manage .add {
    cursor: pointer;
}
