#page_exocobio-awards {
    padding: 50px 20px;
    background-color: var(--pure-white);
    text-align: center;
}

#page_exocobio-awards h2 {
    color: var(--exocobio);
    font-family: lato;
    font-size: 36px;
    font-weight: 400;
    margin: 0 auto;
}

#page_exocobio-awards #page_exocobio-awards-list {
    display: flex;
    flex-wrap: nowrap;
    margin: 50px auto;
    column-gap: 32px;
    justify-content: center;
    box-sizing: border-box;
}

#page_exocobio-awards #page_exocobio-awards-list img {
    width: 0;
    flex-grow: 1;
    max-width: 384px;
    height: 100%;
}

#page_exocobio-awards #page_exocobio-awards-publications {
    margin-top: 50px;
    padding: 20px 32px;
    background-color: var(--midnight);
    color: var(--pure-white);
    font-size: 20px;
    font-family: lato;
    font-weight: 300;
    font-stretch: 100%;
    line-height: 32px;
    text-align: center;
}