.header-parts > .header-bottom + div.cart {
    height: 50px;
}

.header-parts > .header-bottom + div.cart,
div.fixed-menus > div.cart {
    position: relative;
    display: inline-block;
}

img.cart-basket {
    cursor: pointer;
}

div.cart img.cart-basket + div.cart-basket-nbr {
    color: var(--pearl);
    background-color: var(--midnight);
    border-radius: 50%;
    position: absolute;
    text-align: center;
}

/* HEADER-PARTS */

.header-parts > .header-bottom + div.cart,
.header-parts > .header-bottom + div.cart img.cart-basket {
    margin-top: -2px;
    width: 22px;
    height: 22px;
}

.header-parts > .header-bottom + div.cart img.cart-basket + div.cart-basket-nbr {
    font-size: 14px;
    width: 18px;
    height: 18px;
    top: -8px;
    right: -8px;
    color: var(--pearl);
    background-color: var(--midnight);
}

/* FIXED-MENUS */

div.fixed-menus > div.cart,
div.fixed-menus > div.cart img.cart-basket {
    width: 20px;
    height: 20px;
}

div.fixed-menus > div.cart img.cart-basket + div.cart-basket-nbr {
    font-size: 12px;
    width: 18px;
    height: 18px;
    top: 0;
    right: 0;
}

div.fixed-menus > div.cart img.cart-basket + div.cart-basket-nbr {
    content: attr(data-nbr-basket);
    font-size: 12px;
    height: 18px;
    left: 22px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    top: -2.5px;
    width: 18px;
    line-height: 18px;
}

/* HEADER-MINI */

.header-mini + div.cart > div.cart-basket-nbr {
    font-size: 12px;
    width: 18px;
    height: 18px;
    top: -5px;
    right: -8px;
}

.header-mini + div.cart > div.cart-basket-nbr {
    content: attr(data-nbr-basket);
    position: absolute;
    width: 18px;
    height: 18px;
    text-align: center;
    top: -4px;
    left: 14px;
}