<html>

<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
    <meta http-equiv='x-ua-compatible' content='ie=edge'>
    <!-- IMPORTANT: No CSS link needed as of v1 - It's all inlined -->
    <!-- Pre v1.0.0 versions need the minified css -->
    <!-- <link rel='stylesheet' href='https://unpkg.com/v-calendar/lib/v-calendar.min.css'> -->
</head>

<body>
    <!-- <div id='app'> -->
        <!-- <v-calendar></v-calendar> -->
        <!-- <v-date-picker v-model='selectedDate' /> -->
    <!-- </div> -->
    <!-- <div id='app2'> -->
        <!-- <v-calendar></v-calendar> -->
        <!-- <v-date-picker v-model='selectedDate' /> -->
    <!-- </div> -->

    <!-- 1. Link Vue Javascript -->
    <!-- <script src='https://unpkg.com/vue/dist/vue.js'></script> -->

    <!-- 2. Link VCalendar Javascript (Plugin automatically installed) -->
    <!-- <script src='https://unpkg.com/v-calendar'></script> -->

    <!--3. Create the Vue instance-->
    <!-- <script>
        new Vue({
            el: '#app',
            data: {
                selectedDate: null,
            }
        })
        new Vue({
            el: '#app2',
            data: {
                selectedDate: null,
            }
        })
    </script> -->
    <form id="test-login">
        <input
            name="email"
            id="inputEmail"
            placeholder="Votre email"
            value="marieveholdrinet@free.fr"
        />
        <input
            name="password"
            id="inputPassword"
            placeholder="Votre mot de passe"
            value="12345"
        />
        <button type="submit">Connexion</button>
    </form>
    <script>
        function login(e) {
            e.preventDefault();
            console.log(e);
            fetch("http://localhost:8000/api/login", {
                headers: new Headers({
                    'Cache-Control': "max-age=0, must-revalidate, private",
                    'Content-Type': 'text/html; charset=UTF-8',
                    'Accept': '*/*',
                }),
                mode: 'no-cors',
                method: "POST",
                body: JSON.stringify({
                    'email': e.target.elements['email'].value,
                    'password': e.target.elements['password'].value,
                }),
            })
            .then((res) => {
                console.log(res);
                try {
                    res.json();
                }
                catch(errJSON) {
                    console.log(errJSON);
                    try {
                        res.blob();
                    }
                    catch(errBLOB) {
                        console.log(errBLOB);
                        try {
                            res.text();
                        }
                        catch(errTEXT) {
                            console.log(errTEXT);
                        }
                    }
                }
            })
            .then((res) => {
                console.log(res);
            })
            .catch((err) => {
                console.log(err);
            });
        }

        typeof document != "undefined" && document.addEventListener("DOMContentLoaded", function() {
            let temp = document.forms['test-login'];
            if(temp) {
                temp.addEventListener('submit', login);
            }
        });
    </script>
</body>

</html>