{% extends "base.html.twig" %}

{% block body %}
    <div class="page-title">Mails</div>
    {# {% for mail in mails %} #}
        {# {% include "components/Mails/presentation.html.twig" %} #}
    {# {% endfor %} #}
{% endblock %}