.press-media {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    background-color: var(--electric-blue, #59b7b3);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, .75) 3px 3px 5px;
    position: relative;
    cursor: pointer;
}

@media (max-width: 768px) {
    .press-media {
        width: 80%;
        margin: 10%;
    }
}

@media (min-width: 768px) {
    .press-media {
        width: 40%;
        margin: 5%;
    }
}

@media (min-width: 1000px) {
    .press-media {
        width: 30%;
        margin: calc(10% / 6);
    }
}

@media (min-width: 1200px) {
    .press-media {
        width: 250px;
        margin: calc((100% - 1000px) / 8);
    }
}

.press-media .press-media-picture-div {
    width: 100%;
    border-radius: 5px 5px 0 0;
    transition: filter 0.3s ease-in-out 0s;
    position: relative;
    z-index: 2;
    height: 250px;
    overflow: hidden;
    background-color: lightgrey;
}

.press-media .press-media-picture-div .press-media-picture-img {
    width: 100%;
    border-radius: 5px 5px 0 0;
    transition: filter 0.3s ease-in-out 0s;
    position: relative;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
}

.press-media .press-media-picture-div .press-media-picture-img:hover {
    filter: brightness(0.7);
}

.press-media .press-media-text-zone {
    overflow-y: auto;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
}

.press-media .press-media-text-zone a.zone-link {
    z-index: 1;
}

.press-media .press-media-text-zone .press-media-down-part {
    overflow-y: auto;
    bottom: 0;
    z-index: 0;
}

.press-media .press-media-text-zone .press-media-down-part .press-media-short ,
.press-media .press-media-text-zone .press-media-down-part .press-media-description ,
.press-media .press-media-text-zone .press-media-down-part .press-media-url {
    color: #fff;
    margin-top: 5px;
    padding: 5px;
    box-sizing: border-box;
}

.press-media .press-media-text-zone .press-media-down-part .press-media-short {
    font-size: 16px;
    font-weight: bold;
    height: 30px;
}

.press-media .press-media-text-zone .press-media-down-part .press-media-description {
    font-size: 12px;
    height: 40px;
}

.press-media .press-media-text-zone .press-media-down-part .press-media-url {
    font-size: 16px;
    /* font-weight: bold; */
    font-style: italic;
    padding-bottom: 10px;
    display: block;
    position: relative;
    line-height: 18px;
    height: 35px;
    z-index: 3;
    transition: font-size 0.3s ease-in-out 0s,
                font-weight 0.3s ease-in-out 0s;
}

.press-media .press-media-text-zone .press-media-down-part .press-media-url:hover {
    font-size: 18px;
    font-weight: bold;
    transition: font-size 0.3s ease-in-out 0s,
                font-weight 0.3s ease-in-out 0s;
}