.our-specialist {
    background: var(--pearl);
    text-align: center;
    padding: 25px 0;
}

.our-specialist .title {
    text-transform: uppercase;
    color: var(--midnight);
    font-size: 36px;
    font-weight: 700;
    padding: 12px 8px;
    width: fit-content;
    margin: 0 auto 10px;
}

.our-specialist .specialists {
    text-align: center;
}

.our-specialist .specialists .specialist {
    display: inline-block;
    vertical-align: top;
    position: relative;
}


@media (min-width: 769px) {
    .our-specialist .specialists .specialist {
        width: 30%;
        margin: 15px 0;
    }
}

@media (max-width: 768px) {
    .our-specialist .specialists .specialist {
        width: 30%;
        margin: 15px 0;
    }

    .our-specialist .specialists .specialist:nth-child(3n - 2) {
        margin-right: 2.5%;
    }

    .our-specialist .specialists .specialist:nth-child(3n - 1) {
        margin-left: 2.5%;
        margin-right: 2.5%;
    }

    .our-specialist .specialists .specialist:nth-child(3n) {
        margin-left: 2.5%;
    }
}

@media (max-width: 425px) {
    .our-specialist .specialists .specialist {
        width: 80%;
        margin: 15px 10%;
    }
}

.our-specialist .specialists .specialist:nth-child(3n - 1) {
    margin: 15px 5%;
}

.our-specialist .specialists .specialist .specialist-picture {
    width: 100%;
    max-width: 170px;
    max-height: 170px;
    border-radius: 50%;
    border: 3px solid var(--teal);
    margin: 0 auto;
}

.our-specialist .specialists .specialist .specialist-picture img {
    filter: grayscale(1);
    display: block;
    width: 100%;
    border-radius: 50%;
    transition: filter 0.3s ease-in-out;
}

/* .our-specialist .specialists .specialist:hover .specialist-picture img {
    filter: grayscale(0);
} */

.our-specialist .specialists .specialist .name {
    border-top: 3px solid var(--teal);
    padding-top: 10px;
    color: var(--midnight);
    width: 80%;
    max-width: 220px;
    margin: 10px auto 0;
}

.our-specialist .specialists .specialist .descr {
    color: var(--midnight);
    max-width: 270px;
    margin: 0 auto;
    text-align: center;
    margin-top: 8px;
}
