.loading-gif.payment {
    display: inline-block;
    margin-left: 25px;
    top: -5px;
    vertical-align: middle;
}

.loading-gif.payment .loader-circle,
.loading-gif.payment .loader-bar {
    width: 25px;
    height: 25px;
}
