.home-hero {
    position: relative;
    display: block;
    min-height: 700px;
    height: calc(100vh - 140px);
    background-color: var(--teal);
    padding: 0;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: space-between;
    overflow: hidden;
    width: 100%;
}

@media (max-width: 1199px) {
    .home-hero {
        height: auto;
    }
}

.home-hero .hero-global {
    position: relative;
    width: 100%;
}

.home-hero .hero-global .hero-top {
    height: 70%;
    width: 100%;
    position: relative;
    background-color: #091822;
    z-index: 1;
}

@media (max-width: 1199px) {
    .home-hero .hero-global .hero-top {
        width: 100%;
        height: auto;
        padding-bottom: 60px;
    }
}

.home-hero .hero-global .hero-top .top-text {
    position: relative;
    padding: 5% 2%;
    box-sizing: border-box;
    color: #fff;
    font-family: 'raleway-extrabold', sans-serif;
    font-size: 43px;
    font-weight: bolder;
    letter-spacing: 2px;
    line-height: 70px;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 20px;
    width: 50%;
    z-index: 7;
}

@media (max-width: 1199px) {
    .home-hero .hero-global .hero-top .top-text {
        padding-left: 20px;
        width: 70%;
        top: 0;
        transform: none;
    }
}

@media (min-width: 670px) {
    .home-hero .hero-global .hero-top .layout-2 {
        position: absolute;
        left: 0;
        bottom: -1px;
        background-color: var(--teal);
        /* height: calc(100% - 140px); */
        height: calc(50% + 0px);
        width: calc(100vw + 40px)!important;
        z-index: 2;
    }

    .home-hero .hero-global .hero-top .layout-3 {
        position: absolute;
        left: 0;
        bottom: 10px;
        background-color: #4a9c99;
        border-radius: 0 0 100% 0;
        /* height: calc(82.2% - 140px); */
        height: calc(50% + 10px);
        width: calc(100vw + 260px)!important;
        z-index: 3;
    }

    .home-hero .hero-global .hero-top .layout-4 {
        position: absolute;
        left: 0;
        bottom: 28px;
        background-color: #3a8583;
        border-radius: 0 0 100% 0;
        /* height: calc(79.5% - 140px); */
        height: calc(50% + 28px);
        width: calc(100vw + 110px)!important;
        z-index: 4;
    }

    .home-hero .hero-global .hero-top .layout-5 {
        position: absolute;
        left: 0;
        bottom: 44px;
        background-color: #fff;
        border-radius: 0 0 100% 0;
        /* height: calc(77% - 140px); */
        height: calc(50% + 44px);
        width: calc(100vw + 40px)!important;
        z-index: 5;
    }

    .home-hero .hero-global .hero-top .layout-6 {
        position: absolute;
        left: 0;
        bottom: 50px;
        background-color: #091822;
        border-radius: 0 0 100% 0;
        /* height: calc(76% - 140px); */
        height: calc(50% + 50px);
        width: calc(100vw + 30px)!important;
        z-index: 6;
    }

    .home-hero .hero-global .hero-top .border-5 {display: none;}
    .home-hero .hero-global .hero-top .border-4 {display: none;}
    .home-hero .hero-global .hero-top .border-3 {display: none;}
}

@media (max-width: 669px) {
    .home-hero .hero-global .hero-top .border-5 {
        background-color: #fff;
        position: absolute;
        bottom: 55px;
        height: 10px;
        width: 100vw;
    }

    .home-hero .hero-global .hero-top .border-4 {
        background-color: #3a8583;
        position: absolute;
        bottom: 30px;
        height: 25px;
        width: 100vw;
    }

    .home-hero .hero-global .hero-top .border-3 {
        background-color: #4a9c99;
        position: absolute;
        bottom: 0;
        height: 30px;
        width: 100vw;
    }

    .home-hero .hero-global .hero-top .layout-2 {display: none;}
    .home-hero .hero-global .hero-top .layout-3 {display: none;}
    .home-hero .hero-global .hero-top .layout-4 {display: none;}
    .home-hero .hero-global .hero-top .layout-5 {display: none;}
    .home-hero .hero-global .hero-top .layout-6 {display: none;}
}

.home-hero .hero-global .hero-bottom {
    height: 30%;
    width: 50%;
    position: relative;
    z-index: 1;
}

@media (max-width: 1199px) {
    .home-hero .hero-global .hero-bottom {
        width: 100%;
        height: auto;
    }
}

.home-hero .hero-global .hero-bottom .bottom-text {
    padding: 5% 2%;
    box-sizing: border-box;
    background-color: var(--teal);
    color: #fff;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 42px;
    padding-left: 70px;
}

@media (max-width: 1199px) {
    .home-hero .hero-global .hero-bottom .bottom-text {
        padding-left: 20px;
    }
}

.home-hero .hero-global  img#hero-img {
    position: absolute;
    /* width: 45%; */
    top: 50%;
    transform: translateY(-50%);
    display: block;
    z-index: 2;
    max-height: 85%;
}

@media (max-width: 1199px) {
    .home-hero .hero-global  img#hero-img {
        display: none;
    }
}

@media (min-width: 1199px) and (min-height: 1599px) {
    .home-hero .hero-global  img#hero-img {
        height: auto;
        max-width: 45%;
    }
}






/* ////////////////////////////////////////// */
/* ========================================== */
/* ////////////////////////////////////////// */

/* .home-hero {
    position: relative;
    display: block;
    min-height: 700px;
    height: calc(100vh - 140px);
    background-color: var(--teal);
    padding: 0;
    box-sizing: border-box;
    display: inline-flex;
    padding-left: 90px;
    justify-content: space-between;
    overflow: hidden;
    width: 100%;
}

.home-hero .hero-left {
    max-width: calc(48.175% - 5vw);
    width: 100%;
    position: relative;
    font-size: 0;
}

@media (max-width: 1199px) {
    .home-hero .hero-left {
        width: 87vw;
        max-width: unset;
        margin: 0;
        padding: 30px;
    }
}

@media (max-width: 739px) {
    .home-hero .hero-left {
        width: 72vw;
        max-width: unset;
        margin: 0;
        padding: 30px;
    }
}

@media (max-width: 709px) {
    .home-hero .hero-left {
        width: 75vw;
        max-width: unset;
        margin: 0;
        padding: 30px;
    }
}

.home-hero .layout-2 {
    z-index: 2;
    height: calc(100vh - 140px);
    width: calc(100vw + 40px)!important;
    background-color: var(--teal);
}

.home-hero .layout-3 {
    z-index: 3;
    height: calc(82.2vh - 140px);
    width: calc(100vw + 260px)!important;
    background-color: #4a9c99;
    border-radius: 0 0 100% 0;
}

.home-hero .layout-4 {
    z-index: 4;
    height: calc(79.5vh - 140px);
    width: calc(100vw + 110px)!important;
    background-color: #3a8583;
    border-radius: 0 0 100% 0;
}

.home-hero .layout-5 {
    z-index: 5;
    height: calc(77vh - 140px);
    width: calc(100vw + 40px)!important;
    background-color: #fff;
    border-radius: 0 0 100% 0;
}

.home-hero .layout-6 {
    z-index: 6;
    height: calc(76vh - 140px);
    width: calc(100vw + 30px)!important;
    border-radius: 0 0 100% 0%;
    background-color: #091822;
}

.home-hero .layout-2,
.home-hero .layout-3,
.home-hero .layout-4,
.home-hero .layout-5,
.home-hero .layout-6 {
    transition: border-radius 0.3s ease-in-out;
    width: 100vw;
    position: absolute;
    left: 0;
    top: 0;
}

.home-hero .layout-2 img,
.home-hero .layout-3 img,
.home-hero .layout-4 img,
.home-hero .layout-5 img {
    width: 100%;
    bottom: 0;
    left: 0;
    position: absolute;
}

@media (max-width: 669px) {
    div.home-hero {
        height: auto;
        min-height: unset;
    }

    .home-hero div.hero-left {
        background-color: #091822;
        padding: 0;
        margin: 0 auto;
        width: 100%;
        height: unset;
    }

    .home-hero .hero-left .top-text,
    .home-hero .hero-left .bottom-text {
        position: relative;
        width: 100%;
        padding: 5%;
        box-sizing: border-box;
    }

    .home-hero .hero-left .bottom-text {

    }

    .home-hero .hero-left .bottom-text {
        background-color: var(--teal);
        bottom: 1px;
    }

    .home-hero div.layout-2,
    .home-hero div.layout-3,
    .home-hero div.layout-4,
    .home-hero div.layout-5,
    .home-hero div.layout-6 {
        border-radius: 0;
        height: 0;
        transition: border-radius 0.2s ease-in-out, height 0.1s ease-in-out 0s;
    }

    .home-hero .border-3 {
        background-color: #4a9c99;
        width: 100vw;
        height: 30px;
    }
    .home-hero .border-4 {
        background-color: #3a8583;
        width: 100vw;
        height: 25px;
    }

    .home-hero .border-5 {
        background-color: #fff;
        width: 100vw;
        height: 10px;
    }
}

@media (max-height: 669px) and (max-width: 425px) {
    div.home-hero {
        height: auto;
        min-height: unset;
    }

    .home-hero div.hero-left {
        background-color: #091822;
        padding: 0;
        margin: 0 auto;
        width: 100%;
        height: unset;
    }

    .home-hero .hero-left .top-text,
    .home-hero .hero-left .bottom-text {
        position: relative;
        width: 100%;
        padding: 5%;
        box-sizing: border-box;
    }

    .home-hero .hero-left .bottom-text {

    }

    .home-hero .hero-left .bottom-text {
        background-color: var(--teal);
        bottom: 1px;
    }

    .home-hero div.layout-2,
    .home-hero div.layout-3,
    .home-hero div.layout-4,
    .home-hero div.layout-5,
    .home-hero div.layout-6 {
        border-radius: 0;
        height: 0;
        transition: border-radius 0.2s ease-in-out, height 0.1s ease-in-out 0s;
    }

    .home-hero .border-3 {
        background-color: #4a9c99;
        width: 100vw;
        height: 30px;
    }
    .home-hero .border-4 {
        background-color: #3a8583;
        width: 100vw;
        height: 25px;
    }

    .home-hero .border-5 {
        background-color: #fff;
        width: 100vw;
        height: 10px;
    }
}

@media (max-width: 1199px) {
    .home-hero .layout-2 {
        height: calc(100vh - 50px);
    }
}

.home-hero .hero-left,
.home-hero .hero-right {
    z-index: 7;
    height: calc(100vh - 140px);
}

.home-hero .top-text,
.home-hero .bottom-text {
    color: #fff;
}

.home-hero .top-text {
    font-family: 'raleway-extrabold', sans-serif;
    font-size: 43px;
    font-weight: bolder;
    letter-spacing: 2px;
    line-height: 70px;
    top: 15%;
    position: relative;
    transition: top 0.3s ease-in-out;

}

@media (max-width: 1169px) {
    .home-hero .top-text {
        top: 10%;
        transition: top 0.3s ease-in-out;
    }
}

@media (max-width: 1099px) {
    .home-hero .top-text {
        top: 5%;
        transition: top 0.3s ease-in-out;
    }
}

@media (max-width: 669px) {
    .home-hero .top-text {
        top: 0%;
        transition: top 0.3s ease-in-out;
    }
}

@media (max-height: 669px) {
    .home-hero .top-text {
        top: 0%;
        transition: top 0.3s ease-in-out;
    }
}

.home-hero .bottom-text {
    bottom: 0;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 42px;
    position: absolute;
    bottom: 30px;
}

@media (max-width: 1299px) {
    .home-hero .bottom-text {
        width: 135%;
    }
}

@media (max-width: 1199px) {
    .home-hero .bottom-text {
        width: 85vw;
    }
}

.home-hero .hero-right {
    position: relative;
    top: 0;
    height: calc(100vh - 140px);
    display: flex;
    align-items: center;
}

@media (max-width: 1199px) {
    .home-hero .hero-right {
        display: none;
    }
}

.home-hero .hero-right img {
    margin: 0 auto;
    position: relative;
    max-height: 90%;
    transition: max-height 0.5s ease-in;
    filter: drop-shadow(2px 2px 10px black);
    display: block;
    right: 50px;
}

@media (max-width: 1349px) {
    .home-hero .hero-right img {
        max-height: 80%;
        transition: max-height 0.5s ease-in;
    }
}

@media (max-width: 1249px) {
    .home-hero .hero-right img {
        max-height: 75%;
        transition: max-height 0.5s ease-in;
    }
}

@media (max-width: 1169px) {
    .home-hero .hero-right img {
        max-height: 70%;
        transition: max-height 0.5s ease-in;
    }
}

@media (max-width: 1049px) {
    .home-hero .hero-right img {
        max-height: 65%;
        transition: max-height 0.5s ease-in;
    }
}

.home-hero .blue-back {
    position: absolute;
    top: 430px;
    left: 0;
    width: 150vw;
    height: 100%;
    z-index: 1;
    background-color: var(--teal);
    border-top: 11px solid #fff;
    transform: rotate(-11deg);
}

@media (max-width: 1199px) {
    .home-hero {
        display: block;
        margin-top: 50px;
        min-height: calc(100vh - 50px);
        background-color: var(--teal);
        padding-left: 0;
    }
} */
