.home-hero {
    position: relative;
    display: block;
    min-height: 700px;
    height: calc(100vh - 140px);
    background-color: var(--midnight);
    padding: 0 calc((100vw - 1200px) / 2);
    box-sizing: border-box;
    display: inline-flex;
    justify-content: space-between;
    overflow: hidden;
    width: 100%;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media (max-width: 1199px) {
    .home-hero {
        padding: 0 calc((100vw - 768px) / 2);
        background-position: 30% center;
    }
}

@media (max-width: 768px) {
    .home-hero {
        padding: 50px calc((100vw - 465px) / 2);
        background-position: 30% center;
        background-size: 0;
        min-height: 0;
        height: auto;
    }
}

@media (max-width: 465px) {
    .home-hero {
        padding: 25px 15px;
        background-size: 0;
    }
}

.home-hero .hero-right {
    height: 40%;
    top: 30%;
}

@media (min-width: 465px) {
    .home-hero .hero-right {
        position: relative;
        width: 100%;
        padding: 0;
        right: 0;
    }
}

@media (min-width: 768px) {
    .home-hero .hero-right {
        position: absolute;
        width: 330px;
        right: calc(0px + ((100vw - 768px) / 2));
    }
}

@media (min-width: 1199px) {
    .home-hero .hero-right {
        right: calc(0px + ((100vw - 1120px) / 2));
    }
}

.home-hero .hero-right .hero-right-txt_lg {
    color: var(--teal);
    font-family: 'raleway';
    font-size: 30px;
    font-weight: 600;
}

.home-hero .hero-right .hero-right-txt_md {
    margin-top: 32px;
    color: #d8d8d8;
    font-family: 'raleway';
    font-size: 30px;
    font-weight: 400;
}

.home-hero .hero-right .hero-right-button {
    margin-top: 32px;
    text-transform: uppercase;
    background-color: var(--teal);
    border-radius: 5px;
    color: var(--midnight);
    font-size: 14px;
    font-weight: 700;
    font-family: 'raleway';
    padding: 12px 32px;
    outline: transparent;
    border: none;
    display: block;
    width: fit-content;
    cursor: pointer;
    transition: none;
}

.home-hero .hero-right .hero-right-button:hover {
    color: var(--pearl);
}