.home-hero {
    position: relative;
    display: block;
    min-height: 700px;
    height: calc(100vh - 140px);
    background-color: var(--teal);
    padding: 0;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: space-between;
    overflow: hidden;
    width: 100%;
}

@media (max-width: 1199px) {
    .home-hero {
        height: auto;
    }
}

.home-hero .hero-global {
    position: relative;
    width: 100%;
}

.home-hero .hero-global .hero-top {
    height: 70%;
    width: 100%;
    position: relative;
    background-color: var(--dusk);
    z-index: 1;
}

@media (max-width: 1199px) {
    .home-hero .hero-global .hero-top {
        width: 100%;
        height: auto;
        padding-bottom: 60px;
    }
}

.home-hero .hero-global .hero-top .top-text {
    position: relative;
    padding: 5% 2%;
    box-sizing: border-box;
    color: var(--pearl);
    font-family: 'raleway-extrabold', sans-serif;
    font-size: 43px;
    font-weight: bolder;
    letter-spacing: 2px;
    line-height: 70px;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 20px;
    width: 50%;
    z-index: 7;
}

@media (max-width: 1199px) {
    .home-hero .hero-global .hero-top .top-text {
        padding-left: 20px;
        width: 70%;
        top: 0;
        transform: none;
    }
}

@media (min-width: 670px) {
    .home-hero .hero-global .hero-top .layout-2 {
        position: absolute;
        left: 0;
        bottom: -1px;
        background-color: var(--teal);
        /* height: calc(100% - 140px); */
        height: calc(50% + 0px);
        width: calc(100vw + 40px)!important;
        z-index: 2;
    }

    .home-hero .hero-global .hero-top .layout-3 {
        position: absolute;
        left: 0;
        bottom: 10px;
        background-color: #4a9c99;
        border-radius: 0 0 100% 0;
        /* height: calc(82.2% - 140px); */
        height: calc(50% + 10px);
        width: calc(100vw + 260px)!important;
        z-index: 3;
    }

    .home-hero .hero-global .hero-top .layout-4 {
        position: absolute;
        left: 0;
        bottom: 28px;
        background-color: #3a8583;
        border-radius: 0 0 100% 0;
        /* height: calc(79.5% - 140px); */
        height: calc(50% + 28px);
        width: calc(100vw + 110px)!important;
        z-index: 4;
    }

    .home-hero .hero-global .hero-top .layout-5 {
        position: absolute;
        left: 0;
        bottom: 44px;
        background-color: var(--pearl);
        border-radius: 0 0 100% 0;
        /* height: calc(77% - 140px); */
        height: calc(50% + 44px);
        width: calc(100vw + 40px)!important;
        z-index: 5;
    }

    .home-hero .hero-global .hero-top .layout-6 {
        position: absolute;
        left: 0;
        bottom: 50px;
        background-color: var(--dusk);
        border-radius: 0 0 100% 0;
        /* height: calc(76% - 140px); */
        height: calc(50% + 50px);
        width: calc(100vw + 30px)!important;
        z-index: 6;
    }

    .home-hero .hero-global .hero-top .border-5 {display: none;}
    .home-hero .hero-global .hero-top .border-4 {display: none;}
    .home-hero .hero-global .hero-top .border-3 {display: none;}
}

@media (max-width: 669px) {
    .home-hero .hero-global .hero-top .border-5 {
        background-color: var(--pearl);
        position: absolute;
        bottom: 55px;
        height: 10px;
        width: 100vw;
    }

    .home-hero .hero-global .hero-top .border-4 {
        background-color: #3a8583;
        position: absolute;
        bottom: 30px;
        height: 25px;
        width: 100vw;
    }

    .home-hero .hero-global .hero-top .border-3 {
        background-color: #4a9c99;
        position: absolute;
        bottom: 0;
        height: 30px;
        width: 100vw;
    }

    .home-hero .hero-global .hero-top .layout-2 {display: none;}
    .home-hero .hero-global .hero-top .layout-3 {display: none;}
    .home-hero .hero-global .hero-top .layout-4 {display: none;}
    .home-hero .hero-global .hero-top .layout-5 {display: none;}
    .home-hero .hero-global .hero-top .layout-6 {display: none;}
}

.home-hero .hero-global .hero-bottom {
    height: 30%;
    width: 50%;
    position: relative;
    z-index: 1;
}

@media (max-width: 1199px) {
    .home-hero .hero-global .hero-bottom {
        width: 100%;
        height: auto;
    }
}

.home-hero .hero-global .hero-bottom .bottom-text {
    padding: 5% 2%;
    box-sizing: border-box;
    background-color: var(--teal);
    color: var(--pearl);
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 42px;
    padding-left: 70px;
}

@media (max-width: 1199px) {
    .home-hero .hero-global .hero-bottom .bottom-text {
        padding-left: 20px;
    }
}

.home-hero .hero-global  img#hero-img {
    position: absolute;
    /* width: 45%; */
    top: 50%;
    transform: translateY(-50%);
    display: block;
    z-index: 2;
    max-height: 85%;
}

@media (max-width: 1199px) {
    .home-hero .hero-global  img#hero-img {
        display: none;
    }
}

@media (min-width: 1199px) and (min-height: 1599px) {
    .home-hero .hero-global  img#hero-img {
        height: auto;
        max-width: 45%;
    }
}