section.video-testimonials {
    background-color: var(--pearl);
    padding: 85px;
    position: relative;
}

@media (max-width: 768px) {
    section.video-testimonials {
        padding: 25px 50px;
    }
}

@media (max-width: 425px) {
    section.video-testimonials {
        padding: 15px 20px;
    }
}

section.video-testimonials .title {
    text-transform: uppercase;
    font-family: 'raleway';
    font-size: 35px;
    color: var(--midnight);
    font-weight: 600;
    margin: 0 auto;
}

@media (min-width: 0px) {
    main.evolvex-device-page section.video-testimonials .title {
        font-size: 20px;
    }

    main.evolvex-device-page section.video-testimonials .descr {
        font-size: 16px;
    }
}

@media (min-width: 465px) {
    main.evolvex-device-page section.video-testimonials .title {
        font-size: 24px;
    }

    main.evolvex-device-page section.video-testimonials .descr {
        font-size: 20px;
    }
}

@media (min-width: 768px) {
    main.evolvex-device-page section.video-testimonials .title {
        font-size: 28px;
    }

    main.evolvex-device-page section.video-testimonials .descr {
        font-size: 24px;
    }
}

@media (min-width: 1200px) {
    main.evolvex-device-page section.video-testimonials .title {

    }

    main.evolvex-device-page section.video-testimonials .descr {

    }
}

section.video-testimonials .descr {
    color: var(--teal);
    font-size: 24px;
    font-weight: 500;
    margin-top: 16px;
}

section.video-testimonials .testimonials {
    width: 100%;
    display: inline-flex;
    align-items: flex-start;
    flex-direction: row;
    margin-top: 48px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

@media (max-width: 1099px) {
    section.video-testimonials .testimonials {
        flex-direction: column;
        align-content: space-evenly;
    }
}

@media (max-width: 768px) {
    section.video-testimonials .testimonials {
        flex-direction: column;
        align-content: space-evenly;
    }
}

section.video-testimonials .testimonials .video-testimonial {
    display: inline-block;
    width: 30%;
    padding: 15px;
    text-align: center;
    box-sizing: border-box;
}

@media (min-width: 1200px) {
    section.video-testimonials .testimonials .video-testimonial:nth-child(3n),
    section.video-testimonials .testimonials .video-testimonial:nth-child(3n - 1) {
        margin-left: 5%;
    }
    
    section.video-testimonials .testimonials .video-testimonial:nth-child(3n - 2) {
        margin-left: 0;
    }
}

@media (max-width: 1199px) {
    section.video-testimonials .testimonials .video-testimonial:nth-child(n) {
        width: 45%;
        margin: 2.5%;
    }
}

@media (max-width: 768px) {
    section.video-testimonials .testimonials .video-testimonial:nth-child(n) {
        display: block;
        margin: 0 auto;
        width: 80%;
    }
}

@media (max-width: 425px) {
    section.video-testimonials .testimonials .video-testimonial:nth-child(n) {
        display: block;
        margin: 0;
        width: 100%;
    }
}

section.video-testimonials .testimonials .video-testimonial .testimonial-video {

}

section.video-testimonials .testimonials .video-testimonial .testimonial-video .video-poster {
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -2px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    width: 100%;
    height: calc((100vw - 140px) * 0.15);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

@media (max-width: 1199px) {
    section.video-testimonials .testimonials .video-testimonial .testimonial-video .video-poster {
        height: calc((100vw - 140px) * 0.2);
    }
}

@media (max-width: 768px) {
    section.video-testimonials .testimonials .video-testimonial .testimonial-video .video-poster {
        height: calc((100vw - 140px) * 0.5);
        background-position: center center;
    }
}

@media (max-width: 425px) {
    section.video-testimonials .testimonials .video-testimonial .testimonial-video .video-poster {
        height: calc(100vw - 100px);
    }
}

section.video-testimonials .testimonials .video-testimonial .client {
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    color: var(--midnight);
    margin-top: 16px;
}

section.video-testimonials .testimonials .video-testimonial .origin {
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    color: var(--teal);
    margin-top: 4px;
}

/* book a demo */

section.video-testimonials #book-a-demo {
    background-color: var(--teal);
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    line-height: 17.5px;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    width: 220px;
    max-width: 220px;
    display: block;
    margin: 30px auto 45px;
}

@media (max-width: 1199px) {
    section.video-testimonials #book-a-demo {
        display: block;
        top: 9px;
        position: relative;
        font-size: 14px;
    }

}

@media (max-width: 480px) {
    section.video-testimonials #book-a-demo {
        position: relative;
        display: block;
        float: unset;
        right: 0;
        height: auto;
    }

    section.video-testimonials #book-a-demo {
        margin-top: 70px;
    }
}