section.why-inmode-home {
    background-color: var(--pearl);
    position: relative;
    font-size: 0;
    padding: 85px;
}

@media (max-width: 1199px) {
    section.why-inmode-home {
        padding: 50px;
    }
}

@media (max-width: 767px) {
    section.why-inmode-home {
        padding: 40px 35px;
    }
}

@media (max-width: 464px) {
    section.why-inmode-home {
        padding: 20px 10px;
    }
}

section.why-inmode-home .why-inmode-hex {
    width: 280px;
    height: 240px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate3d(-50%, 0, 0);
}

section.why-inmode-home .why-inmode-title {
    text-transform: uppercase;
    font-family: 'raleway';
    font-size: 35px;
    color: var(--midnight);
    font-weight: 600;
    text-align: center;
    margin: 0;
}

section.why-inmode-home .why_inmode-args {
    margin-top: 65px;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

@media (max-width: 1199px) {
    section.why-inmode-home .why_inmode-args {
        flex-direction: column;
        align-items: center;
    }
}

section.why-inmode-home .why_inmode-args .why_inmode-args-txts,
section.why-inmode-home .why_inmode-args .why_inmode-args-video {
    width: 50%;
}

section.why-inmode-home .why_inmode-args .why_inmode-args-video {
    padding-left: 25px;
    padding-right: 50px;
}

@media (max-width: 1199px) {
    section.why-inmode-home .why_inmode-args .why_inmode-args-txts,
    section.why-inmode-home .why_inmode-args .why_inmode-args-video {
        width: 100%;
        padding: 25px;
    }
}

section.why-inmode-home .why_inmode-args .why_inmode-args-txts {
    padding-left: 50px;
    padding-right: 25px;
    box-sizing: border-box;
}

@media (max-width: 1199px) {
    section.why-inmode-home .why_inmode-args .why_inmode-args-txts {
        padding: 35px 0;
    }
}

@media (max-width: 767px) {
    section.why-inmode-home .why_inmode-args .why_inmode-args-txts {
        padding: 25px 0;
    }
}

@media (max-width: 464px) {
    section.why-inmode-home .why_inmode-args .why_inmode-args-txts {
        padding: 15px 0;
    }
}

section.why-inmode-home .why_inmode-args .why_inmode-args-txts .why_inmode-args-txts-arg {
    display: block;
    width: 100%;
    min-height: 58px;
}

section.why-inmode-home .why_inmode-args .why_inmode-args-txts .why_inmode-args-txts-arg:not(:first-child) {
    border-top: 1px solid var(--platinum);
}

section.why-inmode-home .why_inmode-args .why_inmode-args-txts .why_inmode-args-txts-arg .why_inmode-args-txts-arg-puce,
section.why-inmode-home .why_inmode-args .why_inmode-args-txts .why_inmode-args-txts-arg .why_inmode-args-txts-arg-txt {
    display: inline-block;
    vertical-align: top;
    margin: 8px 0;
}

section.why-inmode-home .why_inmode-args .why_inmode-args-txts .why_inmode-args-txts-arg .why_inmode-args-txts-arg-puce {
    margin-right: 16px;
    width: 42px;
    height: 42px;
    float: left;
}

@media (max-width:768px) {
    section.why-inmode-home .why_inmode-args .why_inmode-args-txts .why_inmode-args-txts-arg .why_inmode-args-txts-arg-puce {
        float: left;
        margin-right: 0px;
    }
}

section.why-inmode-home .why_inmode-args .why_inmode-args-txts .why_inmode-args-txts-arg .why_inmode-args-txts-arg-txt {
    font-family: 'raleway';
    font-size: 20px;
    font-weight: 400;
    color: var(--midnight);
    line-height: 1.5;
    width: calc(100% - 58px);
}