:root {
    --field-width: 50%;
}

section#profile #profile-content #addresses-section {

}

section#profile #profile-content #addresses-section .address-section {
    margin-bottom: 10px;
    position: relative;
}

section#profile #profile-content #addresses-section .address-section::after {
    content: " ";
    width: 100%;
    height: 2px;
    background-color: white;
    display: block;
}

@media (max-width: 639px) {
    section#profile #profile-content #addresses-section .address-section {
        padding-left: 5%;
        box-sizing: border-box;
    }
}

section#profile #profile-content #addresses-section .address-section .address-delete {
    position: absolute;
    top: 0;
    right: 0;
    width: 22px;
    height: 22px;
}

.switcher img {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    display: block;
}

.switcher img.init {
    transition: opacity 0.2s ease-in-out 0s;
    z-index: 1;
}

.switcher img.red {
    z-index: 0;
}

.switcher:hover img.init {
    opacity: 0;
}

.switcher:not(:hover) img.init {
    opacity: 1;
    width: 100%;
}

section#profile #profile-content #addresses-section .address-section .address-name {
    font-size: 22px;
    font-weight: bold;
    color: white;
    padding: 5px 5px;
    box-sizing: border-box;
}

section#profile #profile-content #addresses-section .address-section .address-content {
    margin-bottom: 10px;
    padding: 0 4px;
    border-left: 1px solid transparent;
    transition: border 0.3s ease-in-out 0s;
}

section#profile #profile-content #addresses-section .address-section:hover .address-content {
    border-width: 2px;
    border-color: var(--teal);
    transition: border 0.2s ease-in-out 0s;
}

section#profile #profile-content #addresses-section .address-section .address-content .address-field {
    width: 30%;
    display: inline-block;
    vertical-align: middle;
    margin: 10px 5% 5px 0;
    padding: 5px 0;
    cursor: pointer;
}

section#profile #profile-content #addresses-section .address-section .address-content .address-field:nth-child(3n) {
    margin-right: 0;
}

@media (max-width: 1199px) {
    section#profile #profile-content #addresses-section .address-section .address-content .address-field {
        width: 50%;
        margin: 10px 0 5px;
    }
}

@media (max-width: 639px) {
    section#profile #profile-content #addresses-section .address-section .address-content .address-field {
        width: 100%;
        margin: 5px 0;
    }
}

section#profile #profile-content #addresses-section .address-section .address-content .address-field .address-field-label {
    display: block;
    width: 100%;
    padding-bottom: 10px;
    font-size: 16px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

section#profile #profile-content #addresses-section .address-section .address-content .address-field .address-field-label::after {
    content: " ";
    display: block;
    width: 5%;
    height: 1px;
    margin-bottom: 2px;
    background-color: white;
    transition: width 0.3s ease-in-out 0s,
                height 0.3s ease-in-out 0s,
                margin 0.3s ease-in-out 0s,
                background 0.3s ease-in-out 0s;
}

section#profile #profile-content #addresses-section .address-section .address-content .address-field:hover .address-field-label::after {
    content: "";
    width: var(--field-width);
    height: 3px;
    margin-bottom: 0px;
    background-color: var(--teal);
    transition: width 0.2s ease-in-out 0s,
                height 0.2s ease-in-out 0s,
                margin 0.2s ease-in-out 0s,
                background 0.2s ease-in-out 0s;
}

section#profile #profile-content #addresses-section .address-section .address-content .address-field.show .address-field-value {
    display: inline-block;
    height: 20px;
    vertical-align: middle;
    width: calc(var(--field-width) - 40px);
    padding-left: 5px;
    cursor: pointer;
    color: white;
}

section#profile #profile-content #addresses-section .address-section .address-content .address-field.edit .address-field-value {
    display: none;
}

section#profile #profile-content #addresses-section .address-section .address-content .address-field .address-field-change {
    caret-color: var(--teal);
    color: white;
    font-size: 14px;
    padding-left: 5px;
    display: none;
    width: calc(var(--field-width) - 40px);
    height: 24px;
    margin: 0 5px 0 0;
    background-color: var(--pearl-25);
    outline: transparent;
    border: none;
    box-sizing: border-box;
    border-bottom: 1px solid transparent;
    margin-bottom: 3px;
    transition: border 0.3s ease-in-out 0s,
    margin 0.3s ease-in-out 0s;
}

section#profile #profile-content #addresses-section .address-section .address-content .address-field.edit input.address-field-change,
section#profile #profile-content #addresses-section .address-section .address-content .address-field.edit textarea.address-field-change,
section#profile #profile-content #addresses-section .address-section .address-content .address-field.edit select.address-field-change {
    display: inline-block;
    vertical-align: middle;
}

section#profile #profile-content #addresses-section .address-section .address-content .address-field.edit input.address-field-change:hover,
section#profile #profile-content #addresses-section .address-section .address-content .address-field.edit textarea.address-field-change:hover,
section#profile #profile-content #addresses-section .address-section .address-content .address-field.edit select.address-field-change:hover {
    border-bottom: 2px solid white;
    margin-bottom: 2px;
    transition: border 0.2s ease-in-out 0s,
                margin 0.2s ease-in-out 0s;
}

section#profile #profile-content #addresses-section .address-section .address-content .address-field.edit input.address-field-change:active,
section#profile #profile-content #addresses-section .address-section .address-content .address-field.edit textarea.address-field-change:active,
section#profile #profile-content #addresses-section .address-section .address-content .address-field.edit select.address-field-change:active,
section#profile #profile-content #addresses-section .address-section .address-content .address-field.edit input.address-field-change:focus,
section#profile #profile-content #addresses-section .address-section .address-content .address-field.edit textarea.address-field-change:focus,
section#profile #profile-content #addresses-section .address-section .address-content .address-field.edit select.address-field-change:focus {
    border-bottom: 3px solid var(--teal);
    margin-bottom: 1px;
    transition: border 0.2s ease-in-out 0s,
                margin 0.2s ease-in-out 0s;
}

section#profile #profile-content #addresses-section .address-section .address-content .address-field textarea.address-field-change {
    display: block;
    width: 100%;
    height: 100%;
    resize: none;
    background: var(--dusk);
}

section#profile #profile-content #addresses-section .address-section .address-content .address-field.edit select.address-field-change {
    font-size: 16px;
}

section#profile #profile-content #addresses-section .address-section .address-content .address-field.edit select.address-field-change option {
    background: var(--dusk);
    color: white;
    font-size: 13px;
    font-weight: normal;
}

section#profile #profile-content #addresses-section .address-section .address-content .address-field .address-field-edit {
    width: 22px;
    height: 22px;
    /* border: 1px solid transparent; */
    border-radius: 50%;
    /* transition: border 0.2s ease-in-out 0s; */
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    position: relative;
}

section#profile #profile-content #addresses-section .address-section .address-content .address-field .address-field-edit .init,
section#profile #profile-content #addresses-section .address-section .address-content .address-field .address-field-edit .blue {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

section#profile #profile-content #addresses-section div.address-field .address-field-edit .init,
section#profile #profile-content #addresses-section div.address-field.show .address-field-edit .init,
section#profile #profile-content #addresses-section div.address-field.show:hover .address-field-edit .blue,
section#profile #profile-content #addresses-section div.address-field.edit .address-field-edit .blue:not(.edit),
section#profile #profile-content #addresses-section div.address-field:hover .address-field-edit .blue,
section#profile #profile-content #addresses-section div.address-field .address-field-edit:hover .blue {
    display: block;
}

section#profile #profile-content #addresses-section div.address-field .address-field-edit:hover .init,
section#profile #profile-content #addresses-section div.address-field.edit .address-field-edit .init:not(.edit),
section#profile #profile-content #addresses-section div.address-field.show .address-field-edit .blue,
section#profile #profile-content #addresses-section div.address-field:hover .address-field-edit .init,
section#profile #profile-content #addresses-section div.address-field .address-field-edit .blue {
    display: none;
}

section#profile #profile-content #addresses-section .address-section .address-content .address-field .address-field-change-result {
    display: block;
    width: 100%;
    height: 18px;
    font-size: 14px;
    line-height: 18px;
    margin-top: 5px;
    color: white;
}

section#profile #profile-content #addresses-section .address-section .address-content .address-field .address-field-change-result.success {
    color: green;
}

section#profile #profile-content #addresses-section .address-section .address-content .address-field .address-field-change-result.error {
    color: red;
}

section#profile #profile-content  #address-add {
    display: block;
    cursor: pointer;
    height: 30px;
    padding: 4px 12px;
    box-sizing: border-box;
    border-radius: 5px;
    width: 300px;
    text-align: center;
    background-color: var(--teal-50);
    transition: background 0.3s ease-in-out 0s;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

section#profile #profile-content  #address-add:hover {
    background-color: var(--teal);
    transition: background 0.2s ease-in-out 0s;
}

section#profile #profile-content  #address-add span:first-child {
    vertical-align: middle;
    display: inline-block;
}

section#profile #profile-content  #address-add span:last-child {
    margin-left: 10px;
    font-size: 16px;
    /* font-weight: bold; */
    border: 2px solid white;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    display: inline-block;
    padding: 2px;
    font-family: Roboto;
    vertical-align: middle;
    line-height: 1;
}

@media (max-width: 639px) {
    section#profile #profile-content  #address-add {
        width: 80%;
        margin: 0 auto;
        box-sizing: border-box;
    }
}