/*  ========================================
    ========= MODALE CART DATAS ============
    ========================================
*/

#modale #modale-container.cart-fill-datas #modale-content {
    top: 15%;
    min-height: 100px;
    height: fit-content;
    width: 100%;
    padding: 35px 25px;
    margin: 0 auto;
    box-sizing: border-box;
}


#modale #modale-container.cart-fill-datas #modale-content h2 {
    font-size: 18px;
    color: var(--pearl);
    font-weight: bold;
}

#modale #modale-container.cart-fill-datas #modale-content .explain {
    color: var(--pearl);
    font-size: 14px;
    font-weight: normal;
}

#modale #modale-container.cart-fill-datas #modale-content .enter-mail {
    padding: 10px 0;
}

#modale #modale-container.cart-fill-datas #modale-content .enter-mail input#to-search-mail {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    margin-left: 0;
    margin-right: 0;
}

#modale #modale-container.cart-fill-datas #modale-content .enter-mail button#datas-search {
    width: 30%;
    display: inline-block;
    vertical-align: top;
    margin-left: 5%;
    margin-right: 0;
}

#modale #modale-container.cart-fill-datas #modale-content .enter-mail button#datas-search.disabled {
    background-color: #7a7a7a4d;
    color: #a3a3a3;
}

#modale #modale-container.cart-fill-datas #modale-content .enter-mail button#datas-search.disabled:hover {
    background-color: #5a5a5a4d;
    color: #838383;
}

#modale #modale-container.cart-fill-datas #modale-content .enter-mail button#datas-search.ready {

}

#modale #modale-container.cart-fill-datas #modale-content .enter-mail button#datas-search.ready:hover {
    background-color: var(--teal);
    color: var(--pearl);
}

#modale #modale-container.cart-fill-datas #modale-content #results-check {
    padding: 5px 0;
    height: 200px;
    background: rgba(128, 0, 128, 0.3);
    border-radius: 15px;
    color: var(--pearl);
}

#modale #modale-container.cart-fill-datas #modale-content #results-check.datas {
    font-size: 14px;
    color: var(--pearl);
    font-weight: normal;
}

#modale #modale-container.cart-fill-datas #modale-content #results-check.error {
    color: red;
    font-size: 11px;
    font-weight: bold;
}

#modale #modale-container.cart-fill-datas #modale-content #results-check #datas-billing,
#modale #modale-container.cart-fill-datas #modale-content #results-check #datas-shipping {
    width: 48%;
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin: 0 1%;
    border-radius: 12px;
    font-size: 14px;
}

#modale #modale-container.cart-fill-datas #modale-content #results-check #datas-billing {
    background-color: rgba(255, 0, 0, 0.1);
}

#modale #modale-container.cart-fill-datas #modale-content #results-check #datas-shipping {
    background-color: rgba(0, 128, 0, 0.1);
}

#modale #modale-container.cart-fill-datas #modale-content .buttons {

}

#modale #modale-container.cart-fill-datas #modale-content .buttons button#datas-validate {
    position: absolute;
    bottom: 70px;
    
}

#modale #modale-container.cart-fill-datas #modale-content .buttons button#datas-validate.disabled {
    background-color: #7a7a7a4d;
    color: #a3a3a3;
}

#modale #modale-container.cart-fill-datas #modale-content .buttons button#datas-validate.disabled:hover {
    background-color: #5a5a5a4d;
    color: #838383;
}

#modale #modale-container.cart-fill-datas #modale-content .buttons button#datas-validate.ready {

}

#modale #modale-container.cart-fill-datas #modale-content .buttons button#datas-validate.ready:hover {
    background-color: var(--teal);
    color: var(--pearl);
}

#modale #modale-container.cart-fill-datas #modale-content .buttons button#datas-cancel {
    position: absolute;
    bottom: 0px;
}
