#modale.login-modale {

}

#modale.login-modale #modale-container.login-container {
    width: 40%;
    height: auto;
    max-width: 500px;
    /* max-height: 330px; */
    min-width: 300px;
    min-height: 200px;
    top: 40%;
    transform: translateY(-50%);
    padding: 10px;
    box-sizing: border-box;
    background-color: var(--pearl);
    box-shadow: 0 0 5px #0e0e0e;
}

@media (max-width: 480px) {
    #modale.login-modale #modale-container.login-container {
        height: 400px;
    }
}

#modale.login-modale #modale-container.login-container #modale-content {
    width: 100%;
    height: 100%;
    top: 0;
    position: relative;
    left: 0;
    padding: 10px 15px 0;
    box-sizing: border-box;
}

#modale.login-modale #modale-container.login-container #modale-content #modale-close {
    top: 0px;
}

#modale.login-modale #modale-container.login-container #modale-content h2 {
    font-size: 20px;
    font-weight: bold;
    color: var(--midnight);
    padding-bottom: 5px;
    margin: 10px 0 10px;
    height: 20px;
    line-height: 20px;
    text-transform: uppercase;
}

#modale.login-modale #modale-container.login-container #modale-content h2::after {
    content: "";
    display: block;
    position: relative;
    width: 30%;
    height: 2px;
    margin-top: 5px;
    background-color: var(--midnight);
    transition: width 0.4s ease-in-out 0s,
                background 0.2s ease-in-out 0s;
}

#modale.login-modale #modale-container.login-container #modale-content:hover h2::after {
    width: 40%;
    background-color: var(--teal);
}

#modale.login-modale #modale-container.login-container #modale-content form {
    width: 100%;
    height: calc(100% - 45px);
}

#modale.login-modale #modale-container.login-container #modale-content form label,
#modale.login-modale #modale-container.login-container #modale-content form input,
#modale.login-modale #modale-container.login-container #modale-content form span {
    margin: 5px 0;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    caret-color: var(--teal);
    color: var(--teal);
}

#modale.login-modale #modale-container.login-container #modale-content form label {
    font-size: 16px;
    color: var(--midnight);
}

#modale.login-modale #modale-container.login-container #modale-content form input {
    background-color: var(--pearl-50);
    outline: transparent;
    border: none;
    padding: 10px;
    box-sizing: border-box;
    border-bottom: 1px solid var(--midnight-50);
    margin-bottom: 7px;
    border-radius: 5px 5px 0 0;
    transition: border 0.2s ease-in-out 0s,
                margin 0.2s ease-in-out 0s;
}

#modale.login-modale #modale-container.login-container #modale-content form input:hover {
    border-bottom: 2px solid var(--midnight-75);
    margin-bottom: 6px;
}

#modale.login-modale #modale-container.login-container #modale-content form input:active,
#modale.login-modale #modale-container.login-container #modale-content form input:focus {
    border-bottom: 2px solid var(--midnight);
    margin-bottom: 6px;
}

#modale.login-modale #modale-container.login-container #modale-content form span {
    font-size: 12px;
}

#modale.login-modale #modale-container.login-container #modale-content form span.success {
    color: green;
}

#modale.login-modale #modale-container.login-container #modale-content form span.error {
    color: red;
}

#modale.login-modale #modale-container.login-container #modale-content form input::placeholder {
    color: var(--midnight-50); /* */
}

#modale.login-modale #modale-container.login-container #modale-content form #user_section {
    margin-top: 15px;
}

#modale.login-modale #modale-container.login-container #modale-content form #user_section label#user_input_label {

}

#modale.login-modale #modale-container.login-container #modale-content form #user_section input#user_input {
    
}

#modale.login-modale #modale-container.login-container #modale-content form #user_section span#user_input_result {

}

#modale.login-modale #modale-container.login-container #modale-content form #pass_section {
    margin-top: 10px;
}

#modale.login-modale #modale-container.login-container #modale-content form #pass_section label#pass_input_label {

}

#modale.login-modale #modale-container.login-container #modale-content form #pass_section input#pass_input {
    
}

#modale.login-modale #modale-container.login-container #modale-content form #pass_section span#pass_input_result {
    
}

#modale.login-modale #modale-container.login-container #modale-content form #signin_action {
    display: block;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: var(--dusk);
    cursor: pointer;
    margin-top: 15px;
}

#modale.login-modale #modale-container.login-container #modale-content form div#submit_section {
    margin: 5px auto;
    bottom: 15px;
    text-align: center;
    width: 100%;
    position: relative;
    margin-top: 15px;
}

#modale.login-modale #modale-container.login-container #modale-content form div#submit_section span#submit_login_result {
    display: block;
    margin: 0 auto;
    font-size: 14px;
}

#modale.login-modale #modale-container.login-container #modale-content form div#submit_section button#submit_login {
    display: block;
    margin: 0 auto;
    padding: 7px 12px;
    border-radius: 5px;
    border: none;
    background-color: var(--dusk);
    color: var(--pearl-50);
    font-size: 18px;
    transition: color 0.3s ease-in-out 0s;
    cursor: pointer;
}

#modale.login-modale #modale-container.login-container #modale-content form div#submit_section button#submit_login:hover {
    color: var(--pearl);
}

#modale.login-modale #modale-container.login-container #modale-content form div#submit_section .loading-gif.visible {
    display: block;
    margin: 0 auto;
}
