:root {
    --error: #b60907;
    --main-blue :#0b1A25;
    --second-black : #1f1f23;;
    --main-purple :#9147ff;
    --real-purple :#caa7ff;
    --second-purple :#9147ff7a;
    --text-white: #f2f2f2;
    --text-second-white: #d6d6d6;
    --text-black: #121212;
    --text-second-black: #363636;
    --text-light-grey: #a0a0a0;
    --text-grey: #868686;
    --text-second-grey: #646464;
    --text-purple: #9147ff;
    --text-second-purple: #caa7ff;
    --text-switch-background: #caa7ff26;
    --text-success: #2ab607;
    --text-error: #b60907;
    --text-blue: #59b7b3;
    --text-half-blue: #59b7b380;
    --background-white: #f6f6f6;
    --background-second-white: #eaeaea;
    --background-blue: #091822;
    --background-second-black: #363636;
    --background-grey: #aeaeae;
    --background-second-grey: #878787;
    --background-purple: #9147ff;
    --background-second-purple: #caa7ff;
    --background-pale-purple: #e4d3ff; /* #caa7ff80; */
    --background-error: #b60907;
    --background-note-hover: lightskyblue;
    --background-note-selected: dodgerblue;
    --background-electric-blue: #59b7b3;
    --shadow-black: #121212;
    --shadow-second-black: rgba(0, 0, 0, 0.75);
    --shadow-error: #b60907;
    --player-1 :#405bfe;
    --player-2 :#ff0000;
    --player-3 :#00ff00;
    --player-4 :#ffff00;
    --player-5 :#00ffff;
    --player-6 :#ff57b3;
    --player-7 :#797979;
    --player-8 :#ff9600;
    --type-ressource: #ff08c2;
    --type-unit: #fcb400;
    --type-building: #ffd66e;
    --type-technology: #b87503;
    --type-age: #ffa981;
    --type-transfer: #c0c0c0;
    --type-cross-age: #666666;
    --type-unk: #000000;

    --pure-black: #000;
    --pure-white: #fff;
}