header {
    width: 100%;
    height: 50px;
    background-color: var(--main-blue);
    position: sticky;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 5px 15px;
    z-index: 2;
    box-shadow: 3px 5px 10px rgb(0, 0, 0, 0.55);;
}

header .header-left-part,
header .header-right-part {
    display: inline-block;
    vertical-align: middle;
}

header .header-left-part {
    width: 40px;
    height: 40px;
    position: relative;
}

header .header-left-part img {

}

header .header-left-part .user-pseudo {
    margin-left: 10px;
    color: var(--text-white);
    font-size: 18px;
    font-weight: bold;
}

header .header-left-part .user-highest-role {
    margin-left: 10px;
    color: var(--text-second-white);
    font-size: 16px;
    font-weight: normal;
}

header .header-right-part {
    width: calc(100% - 100px);
    margin-left: 40px;
}

header .header-right-part .header-menus {
    text-align: right;
}

header .header-right-part .header-menus .header-menu {
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding: 5px;
    color: var(--text-white);
    /* text-transform: uppercase; */
    font-weight: 500;
    line-height: 1;
    padding-bottom: 15px;
    top: 5px;
    cursor: pointer;
}

header .header-right-part .header-menus .header-menu:not(:last-child)::after {
    content: ' | ';
    font-size: 20px;
    color: var(--text-white);
}

header .header-right-part .header-menus .header-menu .menu-title {
    position: relative;
    transition: color 0.2s ease-in-out 0s;
}

header .header-right-part .header-menus .header-menu .menu-title:hover {
    color: var(--text-purple);
    transition: color 0s ease-in-out 0s;
}
