#wrapper {
    padding: 25px 0;
    margin: 0 auto;
    max-width: 90%;
    width: 100%;
    min-height: calc(100% - 50px);
    box-sizing: border-box;
}

.page-title {
    font-size: 32px;
    font-weight: bold;
    line-height: 36px;
    margin-bottom: 20px;
    color: #f2f2f2;
}

/* CUSTOM SCROLLBAR 
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

  /*IE*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    html,
    body,
    div,
    .custom-scrollbar {
      scrollbar-face-color: #d1d8da;
      scrollbar-track-color: #dcd5d5;
      scrollbar-3dlight-color: #dcd5d5;
      scrollbar-darkshadow-color: #dcd5d5;
      scrollbar-arrow-color: #dcd5d5;
      -ms-overflow-style: -ms-autohiding-scrollbar; /* this one will hide scroll-bars after sometime */
      scrollbar-width: thin;
    }

    .custom-scrollbar {scroll-behavior: smooth;}
}

/* Chrome */
@media screen and (-webkit-min-device-pixel-ratio: 0) {

    .custom-scrollbar {scroll-behavior: smooth;}

    .custom-scrollbar::-webkit-scrollbar {
        background-color: var(--real-purple);
        width: 5px;
        height: 12px;
    }
    
    .custom-scrollbar::-webkit-scrollbar-button {
        background-color: var(--second-purple);
        width: 5px;
        height: 5px;
    }

    .custom-scrollbar::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: #dcd5d5;
    }
    
    .custom-scrollbar::-webkit-scrollbar-thumb {
        background-color: var(--main-purple);
        width: 5px;
        height: 5px;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb:hover {
        background-color: #767979;
    }
}

/* for firefox */
@-moz-document url-prefix() {
    html,
    body,
    div,
    .custom-scrollbar {
        scrollbar-width: thin;
        scroll-behavior: smooth;
    }
}

/* SELECT NONE 
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

.user-select-none {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

/* TOGGLE SWITCH 
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

/* div.switch-component                 */
/*     input.switch-checkbox            */
/*     labellabel.switch                     */
/*     labellabel.switch span.switch-inner   */
/*     labellabel.switch span.switch-switch  */

div.switch-component {
    position: relative;
    width: 56px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    display: block;
    /* left: 10px; */
    /* top: 10px; */
}

div.switch-component input.switch-checkbox {
    position: absolute;
    height: 100%;
    width: 100%;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    background: transparent;
    border: none;
    -webkit-appearance: none;
    z-index: 1;
}

div.switch-component label.switch {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid var(--pure-white);
    border-radius: 20px;
    height: 26px;
    box-sizing: border-box;
    z-index: 0;
}

div.switch-component label.switch span.switch-inner:before,
div.switch-component label.switch span.switch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 22px;
    padding: 0;
    line-height: 22px;
    font-size: 12px;
    color: black;
    font-family: 'raleway', sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}

div.switch-component label.switch span.switch-inner:before {
    content: "ON";
    padding-left: 6px;
    background-color: #3AC5C9;
    color: var(--pure-white);
}

div.switch-component label.switch span.switch-inner:after {
    content: "OFF";
    padding-right: 6px;
    background-color: #E85764;
    color: var(--pure-white);
    text-align: right;
}

div.switch-component label.switch span.switch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

div.switch-component input.switch-checkbox:checked + label.switch span.switch-inner {
    margin-left: 0;
}

div.switch-component label.switch span.switch-switch {
    display: block;
    width: 12px;
    margin: 5px;
    background-color: var(--pure-white);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 30px;
    border: 2px solid var(--pure-white);
    border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}

div.switch-component input.switch-checkbox:checked + label.switch span.switch-switch {
    right: 0px;
}

/* TEXT SWITCH 
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

.show-mode div.active,
.show-mode div.inactive,
.show-mode input.active,
.show-mode input.inactive,
.show-mode textarea.active,
.show-mode textarea.inactive,
.edit-mode div.active,
.edit-mode div.inactive,
.edit-mode input.active,
.edit-mode input.inactive,
.edit-mode textarea.active,
.edit-mode textarea.inactive {

}

.show-mode div.inactive,
.show-mode input.inactive,
.show-mode textarea.inactive,
.edit-mode div.inactive,
.edit-mode input.inactive,
.edit-mode textarea.inactive {
    display: none;
}

.show-mode input,
.show-mode textarea,
.edit-mode input,
.edit-mode textarea {
    outline: none;
    border: none;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-family: Roboto, sans-serif;
}

.edit-mode textarea {
    resize: none;
}

.show-mode div.active,
.show-mode input.active,
.show-mode textarea.active,
.edit-mode div.active,
.edit-mode input.active,
.edit-mode textarea.active {

}

.show-mode div.active {}
.show-mode div.inactive {}
.show-mode input.active {}
.show-mode input.inactive {}
.show-mode textarea.active {}
.show-mode textarea.inactive {}
.edit-mode div.active {}
.edit-mode div.inactive {}
.edit-mode input.active {}
.edit-mode input.inactive {}
.edit-mode textarea.active {}
.edit-mode textarea.inactive {}

/* IE */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .overflow-hidden {overflow: hidden;}
    .overflow-scroll {overflow: scroll;}
    .overflow-auto {overflow: auto;}
    .overflow-x-hidden {overflow-x: hidden;}
    .overflow-x-scroll {overflow-x: scroll;}
    .overflow-x-auto {overflow-x: auto;}
    .overflow-y-hidden {overflow-y: hidden;}
    .overflow-y-scroll {overflow-y: scroll;}
    .overflow-y-auto {overflow-y: auto;}
}

/* CHROME */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    .overflow-hidden {overflow: hidden;}
    .overflow-scroll {overflow: scroll;}
    .overflow-auto {overflow: auto;}
    .overflow-x-hidden {overflow-x: hidden;}
    .overflow-x-scroll {overflow-x: scroll;}
    .overflow-x-auto {overflow-x: auto;}
    .overflow-y-hidden {overflow-y: hidden;}
    .overflow-y-scroll {overflow-y: scroll;}
    .overflow-y-auto {overflow-y: auto;}
}

/* FIREFOX */
@-moz-document {
    .overflow-hidden {overflow: hidden;}
    .overflow-scroll {overflow: scroll;}
    .overflow-auto {overflow: auto;}
    .overflow-x-hidden {overflow-x: hidden;}
    .overflow-x-scroll {overflow-x: scroll;}
    .overflow-x-auto {overflow-x: auto;}
    .overflow-y-hidden {overflow-y: hidden;}
    .overflow-y-scroll {overflow-y: scroll;}
    .overflow-y-auto {overflow-y: auto;}
}

/* DIVERS */

body.settings .section-title, .build-category-title {
    color: var(--text-white);
    font-size: 16px;
    font-weight: 700;
    padding: 10px 0 5px 10px;
    background-color:#18181B;
    margin:0 0 0 0!important;
    text-decoration:none;
}
