/* IMAGES SELECT HTML TOOLTIP */

.tippy-select-img {
    width: 40px;
    height: 40px;
    margin: 0 5px;
    padding: 5px;
    transition: transform 0.3s ease-in-out 0s;
}

.tippy-select-img:hover {
    transform: scale(1.25);
}

.imgs-drop-tippy.select-etape-icon {
    text-align: center;
    padding: 10px 0;
}

.imgs-drop-tippy.select-etape-icon .tippy-select-img.aoe2-select-image {
    cursor: pointer;
}

/* WTF IL FAUT QUE JE LE VOIS CELUI-CI ! OBAMA !!! */