/* TESTIMONIALS */

#testimonials {
    width: 100%;
    padding: 50px 70px;
    background-color: var(--pearl);
    box-sizing: border-box;
}

#testimonials #testimonials-zone {
    width: 100%;
    height: 100%
}

#testimonials #testimonials-zone #testimonials-head {
    width: 100%;
    margin-bottom: 10px;
}

#testimonials #testimonials-zone #testimonials-head #testimonials-title {
    width: fit-content;
    padding: 0 15px;
    font-size: 32px;
    color: var(--midnight);
    border-bottom: 2px solid var(--midnight);
    margin: 0 auto;
}

#testimonials #testimonials-zone #testimonials-list {
    margin-block: 0px;
    margin-inline: 0;
    padding-inline: 0;
}

#testimonials #testimonials-zone #testimonials-list #testimonial {
    border-radius: 7px;
    box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.05);
    background-color: var(--pearl);
    display: inline-block;
    vertical-align: top;
    font-family: bodoni;
    padding: 7px 12px;
    box-sizing: border-box;
    height: 150px;
}

@media (max-width: 1199px) {
    #testimonials #testimonials-zone #testimonials-list #testimonial {
        width: 45%;
        margin: 15px 0;
    }

    #testimonials #testimonials-zone #testimonials-list #testimonial:nth-child(2n - 1) {
        margin-right: 5%;
    }

    #testimonials #testimonials-zone #testimonials-list #testimonial:nth-child(2n) {
        margin-left: 5%;
    }
}

@media (max-width: 767px) {
    #testimonials {
        padding: 25px 20px;
    }

    #testimonials #testimonials-zone #testimonials-list #testimonial {
        width: 90%;
        margin: 15px 5%;
    }
}

@media (max-width: 425px) {
    #testimonials {
        padding: 25px 20px;
    }

    #testimonials #testimonials-zone #testimonials-list #testimonial:nth-child(2n - 1),
    #testimonials #testimonials-zone #testimonials-list #testimonial:nth-child(2n) {
        margin: 15px 0;
    }

    #testimonials #testimonials-zone #testimonials-list #testimonial {
        width: 100%;
        margin: 15px 0;
    }
}

@media (min-width: 1200px) {
    #testimonials #testimonials-zone #testimonials-list #testimonial {
        width: 30%;
        margin: 25px 0;
    }

    #testimonials #testimonials-zone #testimonials-list #testimonial:nth-child(3n - 2) {
        margin-right: 5%;
    }

    #testimonials #testimonials-zone #testimonials-list #testimonial:nth-child(3n - 1) {
        margin-right: 5%;
    }
}

#testimonials #testimonials-zone #testimonials-list #testimonial #testimonial-text {
    color: var(--midnight);
    font-size: 24px;
    font-weight: 500;
}

#testimonials #testimonials-zone #testimonials-list #testimonial #testimonial-name,
#testimonials #testimonials-zone #testimonials-list #testimonial #testimonial-clinic {
    display: inline-block;
    vertical-align: middle;
}

#testimonials #testimonials-zone #testimonials-list #testimonial #testimonial-name {
    color: var(--platinum-75);
    font-size: 14px;
}

#testimonials #testimonials-zone #testimonials-list #testimonial #testimonial-name:not(:last-child) {
    margin-right: 5px;
}

#testimonials #testimonials-zone #testimonials-list #testimonial #testimonial-clinic {
    color: var(--teal-75);
    font-size: 18px;
    font-weight: bold;
}

/* ELSE */

.testimonials {
    
}

.testimonial.product .testimonial-img-part img{
    filter: grayscale(1);
}

.testimonial.product .testimonial-quote-part {
    background: #303030;
}

.testimonial.product .testimonial-quote-part blockquote {
    color: #fff;
}

.testimonial {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    height: 500px;
    position: relative;
}

.testimonial.patient {
    height: 300px;
}

.testimonial.practitioner {
    width: 100%;
    margin-top: 25px;
}

.testimonial .testimonial-img-part.patient,
.testimonial .testimonial-img-part.practitioner,
.testimonial .testimonial-quote-part.patient,
.testimonial .testimonial-quote-part.practitioner {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    height: 500px;
}

.testimonial .testimonial-img-part.patient,
.testimonial .testimonial-quote-part.patient {
    height: inherit;
}

.testimonial .testimonial-img-part.practitioner {
    position: relative;
}

.testimonial:not(.product) .testimonial-img-part.practitioner {
    background-color: var(--teal);
}

.product.testimonial .testimonial-img-part.practitioner {
    background-color: #303030;
}

.testimonial .testimonial-img-part.patient {
    position: absolute;
    top: 0;
    left: 0;
}

.testimonial .testimonial-img-part.patient img {
    height: 460px;
    padding: 20px;
}

.testimonial .testimonial-img-part.practitioner img {
    height: 500px;
    width: auto;
}

.testimonial .testimonial-img-part.practitioner img.right,
.product.testimonial .testimonial-img-part.practitioner img {
    float: right;
}

.testimonial .testimonial-img-part.practitioner .testimonial-img-part-doctor {
    position: absolute;
    top: 0;
    /* box-shadow: rgba(0, 0, 0, 0.6) 1.5px 1.5px 3px 0.5px; */
    padding: 15px 5px 10px 5px;
    background: var(--teal);
    width: fit-content;
}

.testimonial .testimonial-img-part.practitioner .testimonial-img-part-doctor.right,
.product.testimonial .testimonial-img-part.practitioner .testimonial-img-part-doctor {
    right: 0;
}

.testimonial.practitioner.product .testimonial-img-part.practitioner .testimonial-img-part-doctor {
    background: #303030;
}

.testimonial .testimonial-img-part.practitioner .testimonial-img-part-doctor span {
    display: block;
    font-size: 16px;
    font-weight: 800;
    color: #fff;
    text-shadow: "000";
}

.testimonial .testimonial-quote-part {
    background-color: var(--teal);
    text-align: center;
}

.testimonial .testimonial-quote-part.patient {
    width: inherit;
}

.testimonial .testimonial-quote-part blockquote {
    border: none;
    color: #fff;
    font-style: italic;
    letter-spacing: normal;
    margin: 0;
    overflow-wrap: break-word;
    padding: 0 15px;
    width: 100%;
    height: fit-content;
    top: 100px;
    position: relative;
    box-sizing: border-box;
}

.testimonial .testimonial-quote-part.patient .testimonial-quote-part-patient {
    top: 125px;
    position: relative;
    width: 100%;
    color: #fff;
    font-size: 18px;
    left: 0%;
}

.testimonial .testimonial-quote-part.patient .testimonial-quote-part-patient::before {
    content: " - ";
    color: #fff;
    font-size: 18px;
}

.testimonial .testimonial-quote-part.practitioner {

}

.testimonial .testimonial-quote-part.practitioner svg {
    width: 46px;
    height: 42px;
    top: 100px;
    position: relative;
    text-align: left;
    display: block;
    margin-left: 15px;
}

.testimonial .testimonial-quote-part.patient blockquote {
    font-size: 22px;
    line-height: 33px;
    pointer-events: auto;
    text-align: center;
    width: 100%;
    left: 0%;
}

.testimonial .testimonial-quote-part.practitioner blockquote {
    font-size: 28px;
    line-height: 42px;
    outline-color: rgb(255, 255, 255);
    outline-style: none;
    outline-width: 0px;
    text-align: start;
    padding: 5px 30px;
    max-height: 350px;
    overflow: auto;
}
